.output{
    margin-top: 35px;
    display: flex;
}
.input{
    flex: 10;
    padding: 15px;
    outline: 0;
    background: rgb(60, 68, 83);
    border: 0;
    color: #eee;
}
.copy{
    flex: 2;
    background: rgb(237, 135, 2);
    border: 0;
    cursor: pointer;
    transition: 0.1s;
}
.copy:hover{
    background: rgb(255, 145, 0);   
}
.copy:active{
    background: rgb(208, 118, 1);
}