.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
}
.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    display: block;
    text-decoration: none;
    margin: 5px;
}
.item img{
    width: 50px;
}